.header {
  width: 100vw;
  height: var(--nav-height);
  position: fixed;
  border-bottom: 1px solid hsl(var(--border));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--page-padding);
  z-index: 100;
  background-color: hsl(var(--background) / 0.6);
  backdrop-filter: blur(12px);

  .code {
    font-family: var(--font-geist-mono);
    font-size: 1rem;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    .link {
      display: inline-flex;
      text-decoration: none;
      line-height: 1;
      position: relative;
      color: hsl(var(--foreground));

      &:hover {
        color: hsl(var(--primary));

        &::after {
          content: "";
          position: absolute;
          top: calc(100% + 2px);
          left: 0;
          height: 1px;
          width: 100%;
          background-color: hsl(var(--primary));
        }
      }
    }
  }
}
