@import "theme.css";
@import "utils.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-geist-sans), sans-serif;
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));

    width: 100vw;
    max-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--nav-height) 1fr;
}