:root {

    --black: 240 10% 3.9%;
    --white: 0 0% 100%;
    --active: 124 84% 25%;
    --success: 88 50% 53%;
    --purple: 262.1 83.3% 57.8%;
    --purple-foreground: 210 20% 98%;
    --orange: 24.6 95% 53.1%;
    --yellow: 47.9 95.8% 53.1%;
    --blue: 221.2 83.2% 53.3%;

    --background: 187 80% 98%;
    --foreground: 184 87% 6%;
    --card: 187 80% 98%;
    --card-foreground: 184 87% 6%;
    --popover: 187 80% 98%;
    --popover-foreground: 184 87% 6%;
    --primary: 186 87% 52%;
    --primary-foreground: 184 87% 6%;
    --secondary: 244 86% 71%;
    --secondary-foreground: 184 87% 6%;
    --muted: 220 16% 96%;
    --muted-foreground: 228 5% 38%;
    --accent: 261 87% 61%;
    --accent-foreground: 187 80% 98%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 184 87% 6%;
    --border: 228 10% 80%;
    --input: 187 80% 20%;
    --ring: 261 87% 40%;
}


@media (prefers-color-scheme: dark) {
    :root {
        --purple: 263.4 70% 50.4%;
        --purple-foreground: 210 20% 98%;
        --blue: 217.2 91.2% 59.8%;

        --background: 188 80% 2%;
        --foreground: 184 87% 94%;
        --card: 188 80% 2%;
        --card-foreground: 184 87% 94%;
        --popover: 188 80% 2%;
        --popover-foreground: 184 87% 94%;
        --primary: 186 87% 48%;
        --primary-foreground: 188 80% 2%;
        --secondary: 244 86% 29%;
        --secondary-foreground: 184 87% 94%;
        --muted: 240 4% 9%;
        --muted-foreground: 235 8% 72%;
        --accent: 261 87% 39%;
        --accent-foreground: 184 87% 94%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 184 88% 10%;
        --border: 233 6% 29%;
        --input: 188 80% 80%;
        --ring: 261 87% 60%;
    }
}

